/* Estilos para o Header */
.header {
  display: flex; /* Altere de 'none' para 'flex' */
  align-items: center;
  justify-content: space-between;
  background-color: transparent; /* Fundo transparente */
  padding: 0 100px; /* Espaçamento nas laterais */
  position: relative;
}

/* Estilos para a Logo */
.logo {
  display: flex;
  align-items: center;
  margin-top: 70px;
  padding-bottom: 20px;
}

.logo img {
  width: 300px; /* Define a largura desejada */
  height: auto; /* Mantém a proporção da imagem */
}

/* Barra de Pesquisa */
.search-bar {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.search-bar button svg {
  color: #888888a1; /* Cor do ícone de pesquisa */
}

.search-bar input {
  padding: 8px;
  border: 1px solid #cccccc0a;
  border-radius: 25px;
  width: 400px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
}

.search-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

/* Links de Cadastro e Login */
.auth-links {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.register-link {
  color: #474747f5;
  text-decoration: underline;
  margin-right: 20px;
  font-size: 16px;
}

.login-button {
  background-color: #ff3399;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
}

.login-button:hover {
  background-color: #FF1493;
}

/* Ícone do Carrinho */
.shopping-cart {
  font-size: 24px;
  color: #ff3399;
  cursor: pointer;
  margin-left: 20px;
}

/* Navbar */
nav {
  background-color: #FFFFFF;
  margin: 20px 0;
  padding: 0 100px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

nav ul li {
  display: inline;
}

nav a {
  color: #474747c5;
  font-family: "Roboto", initial;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  font-size: 18px; /* Aumente o tamanho do texto se quiser */
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

/* Efeito neon ao passar o mouse */
nav a:hover {
  color: #FF1493;
  font-style: normal;
}
/* Estilos para o link "Home" quando estiver ativo */
nav a.active {
  color: #FF1493; /* Rosa neon chamativo */
  text-decoration: underline; /* Adiciona underline */
  text-decoration-color: #FF1493; /* Cor verde neon para o underline */
  text-underline-offset: 5px; /* Aumenta a distância do underline em relação ao texto */
  text-decoration-thickness: 2px; /* Define a espessura do underline */
  font-weight: bold;
}
